.nav-item {
    height: 15vh;
    position: absolute;
    top: 0;
    z-index: 2;
}

.nav-logo {
    /* border: 1px solid red; */
    height: 100%;
}

.logo {
    height: 100%;
    width: 55%;
}

.nav-item a {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 30px;
    color: black;
}

.nav-item a:active {
    background-color: black;
    border: 1px solid white;
    color: var(--app-secondary-shade);
    text-align: center;
    border-radius: 5px;
    padding: 10px;
}

.menu-icon {
    color: white;
    cursor: pointer;
}