.footer-banner-bg {
background-image: url(../images/Bottom-banner.png);
height: 100%;
}
.bigtext{
    color: var(--app-footerbanner-content);
    font-size: 3.4rem;
    letter-spacing: 1px;
    font-weight: bold;
    font-style: Spartan;
}
.smalltext{
    font-size: 1.7rem;
    letter-spacing: 1px;
    color: white;
    font-style: Spartan;
 
}
.contact-btn{
    background-color: var(--app-secondary-shade);
    color: black;
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-style: Spartan;
padding: 20px 65px;
}
