:root {
  --app-primary: #F8AE33;
  --app-secondary-shade:#E8B103;
  --app-testimonal-bg:#E5E5E5;
  --app-offercontainer-bg:#362D2C;
  --app-Aboutme-container:#F7CC7F;

  --app-footerbanner-content:#FBC64E;

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Spartan;

}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
