.container-bg{
  background: var(--app-offercontainer-bg);
  overflow-x: scroll;
}
.banner-heading{
    font-size: 3rem;
}
.bg{
  background: #F3F3F3;
  border-radius: 10px;
  max-width: 100%;
}
.card-heading{
  font-weight: bold;
  font-size: 1.5rem;
}
.inner-text{
  color: #b8b1b1;
  font-size: 20px;
}
.hovering{
  background-color: white;
}
.hovering:hover{
background-color: var(--app-secondary-shade);
color: black;
}
.hovering :hover{
  color: black;
}